
html {
    height: 100%;
    margin: 0;
}



body {
  background-image: url("./images/plaster2.jpeg");
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

  /* @media only screen and (max-width: 375px) {
    body {
      background-image: url("./images/plaster.jpg");
      height: 150%; 
    
     
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  } */
  