
html {
  min-height: 100%;
  margin: 0;
}

body{
  min-height: 100%;
  overflow-x:hidden;
  background-color: white;
}

@media (max-height: 700px) {
  body{
    background-color: rgb(253, 213, 195) ;
  }
}
