#firstRow {
    background-image: url("../images/plaster.jpg");
    height: 93vh; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }