#firstRow {
    background-image: url("../images/plaster.jpg");
    height: 94vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#our-story{
    color: rgb(218, 168, 32);
}

#secondRow{
    height: 93vh;
    background-color: pink;
}

#thirdRow {
    height: 93vh;
    background-color: red;
    background-image: linear-gradient(to top right,white, rgb(32, 185, 255));
}

#canvas {
    height: 70vh;
    background-image: url("../images/plaster.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px groove black;
    border-radius: 5px;
    padding: 25px;
    overflow: auto;
}

#story-img{
    width:30rem;
    height:22rem;
}
@media (max-height: 700px) {
    .erase {
        display: none;
    }
}

@media (max-height: 700px) {
    #firstRow {
        height: 86vh;
    }
    #story-img{
        width: 20rem;
        height: 10rem;
    }
}
